{% extends "base.html" %}
{% block content %}
<div>
    <p>This is a calculator!</p>
    <form action="" method="POST">
        <input type="text" name="number1">
        <input type="text" name="number2">
        <input type="submit" name="button" value="add">
        <input type="submit" name="button" value="sub">
        <input type="submit" name="button" value="mul">
        <input type="submit" name="button" value="div">
    </form>
    {% if result %}
    <p>result: {{ result }}</p>
    {% endif %}
</div>
{% endblock %}